
#menu {
  padding: 80px 20px;
  text-align: center;
  background: rgba(241, 207, 155, 0.621); 
}

#menu h2 {
  font-size: 38px;
  color: rgb(214, 90, 31); 
  margin-bottom: 10px;
}

#menu p {
  color: rgb(107, 114, 128);
  margin-bottom: 50px;
  font-size: 16px;
}

.menu-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.menu-card {
  background: #e1e0d356;
  border: 2px solid #88a35b; 
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgb(219, 149, 43);
}
.menu-card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 15px;
  border: 2px solid rgb(214, 90, 31); 
}
.menu-card h3 {
  font-size: 20px;
  color: rgb(136, 163, 91); 
  margin-bottom: 8px;
}

.menu-card p {
  font-size: 14px;
  color: #374151;
  margin-bottom: 12px;
}
.menu-card span {
  font-size: 18px;
  font-weight: bold;
  color: rgb(214, 90, 31); 
}

@media (max-width: 480px) {
  #menu h2 {
    font-size: 30px;
  }

  .menu-card img {
    height: 160px;
  }
}
